<p>
	<strong>Commenter</strong>
	<%= comment.commenter%>
</p>
<p>
	<strong>Comments</strong>
	<%= comment.body%>
</p>
<%= link_to 'Destroy Comment', [comment.article, comment],method: :delete, data: {confirm: 'Are You Sure?'}%>