<h1>Articles index</h1>
<a class="btn btn-outline-primary" href="articles/new" role="button" class="btn-btn">Add</a>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  ADD
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD ARTICLES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with scope: :article, url: articles_path, local: true do |form|%>
        <p>
        	<%= form.label :title%><br>
        	<%= form.text_field :title%>
        </p>
        <p>
        	<%= form.label :text%><br>
        	<%= form.text_area :text%>
        </p>
        <p>
        	<%= form.submit%>
        </p>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<table border="1" width="40%" class="table">
	<tr>
		<th>Nama</th>
		<th>Alamat</th>
		<th colspan="3"></th>
	</tr>
	<% @articles.each do |article| %>
	<tr>
		<td><%= article.title %> </td>
		<td><%= article.text %> </td>
		<td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"><center><%=link_to'Show', article_path(article)%></center></a>
    <a class="dropdown-item" href="#"><center><%= link_to 'edit', edit_article_path(article)%></center></a>
    <a class="dropdown-item" href="#"><center><%= link_to 'hapus', article_path(article),
						method: :delete,
						data: {confirm: 'Are You Sure?'}%></center></a>
  </div>
</div></td>
	</tr>
	<%end%>
</table>