<h1>Articles show</h1>
<p>
	<strong>Nama :</strong> 
	<%= @article.title%>
</p>

<p>
	<strong>Alamat</strong>
	<%= @article.text%>
</p>
<h2>Comentar</h2>
<%= render @article.comments%>

<h2>Add a Comment:</h2>
<%= render 'comments/form'%>
<%= link_to 'edit', edit_article_path(@article)%> | 
<%= link_to 'back', articles_path%>
